[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
python-json-logger = "*"
matplotlib = "*"
schedule = "*"

[dev-packages]

[requires]
python_version = "3.7"
